@use "../../everforest-sass/everforest-dark";
body {
    background-color: everforest-dark.$bg0;
    color: everforest-dark.$fg;
    fill: everforest-dark.$fg;
}

body:not(.home)main a {
    color: everforest-dark.$blue;
}

body.home, .sidebar {
    background-color: everforest-dark.$bg_green;
    color: everforest-dark.$fg;
    fill: everforest-dark.$fg;
    a {
        color: everforest-dark.$fg;
    }
}