@use "../../modern-normalize/modern-normalize.css";
@use "footer";

body {
    font-family: monospace;
}
a {
    text-decoration: underline;
}
.sidebar {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

header {
    padding-bottom: auto;
}



  