$max-sidebar-width: 10rem;
$max-content-width: 40rem;
@mixin pc {
    body {
        display: grid;
        height: 100vh;
        grid-template-columns: auto auto;
        grid-template-rows: max-content auto max-content;
    }
    .sidebar>* {
    width: $max-sidebar-width;
    margin-left: auto;  
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }
    body>nav {
        grid-column: 1;
        grid-row: 2;
    }
    main {
        grid-column: 2;
        grid-row: 1/4;
        overflow-y: scroll;
    }

    footer {
        grid-column: 1;
        grid-row: 3;
    }
}